header{
    text-align: center;
    font-family: TitleBold;
    font-size: 30px;
    margin: 10px;
}

hr{
    color: lightslategrey;
}

.contact-location{
    text-align: right;
    margin-right: 20px;
}
.page-content{
    font-family: InnerText;
    padding-right: 20px;
    padding-left: 20px;
}

h1{
    display: inline;
}
@font-face {
    font-family: TitleBold;
    src: url(assets/fonts/Roboto-Bold.ttf)
}


@font-face {
    font-family: InnerText;
    src: url(assets/fonts/Roboto-Thin.ttf)
}
